/*----------PARTS START-------------*/
.media .media-left {
  padding: 0 10px 10px 0;
}
.media .media-left img {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.list-group .list-group-item:first-child {
  -webkit-border-top-left-radius: 0.125rem;
  border-top-left-radius: 0.125rem;
  -webkit-border-top-right-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.list-group .list-group-item:last-child {
  -webkit-border-bottom-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
  -webkit-border-bottom-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

.list-group a,
.list-group button {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.list-group a:hover,
.list-group button:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/*----------PARTS ENDS-------------*/
